nav {
  background-color: SlateGrey;
  height: 20%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.flex {
  position: relative;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  top: 30%;
}

button,
select,
.sliderName {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  height: 50px;
  width: 15%;
}
input {
  width: 90%;
}

button:hover,
button:focus,
select:hover,
select:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

button:focus,
select:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

button:active,
select:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
